@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Eczar&family=Moon+Dance&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.NavbarItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;

  width: 100%;
  height: 80px;
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  background: rgba(40, 67, 135, 0.4);
  backdrop-filter: blur(3px);
}
.Nav-Menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-decoration: none;
}
.Nav-Menu a:hover {
  color: goldenrod;
  transition: 0.3s ease-in-out;
}
.Nav-Menu a {
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
  margin-right: 10px;
  font-family: "Moon Dance", cursive;
}
.Nav-Menu i {
  margin-right: 2px;
}
.Navbar-logo {
  font-family: "Moon Dance", cursive;
  font-size: 40px;
  color: goldenrod;
  font-weight: 600;
  cursor: pointer;
}
.Menu-Icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;

    height: 30px;
  }
  .Nav-Menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: pink;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 90px 0px 50px;
    margin: 0px;
    transition: 0.3s ease-in-out;
  }
  .Nav-Menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .Nav-Menu a {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .Nav-Menu a:hover {
    background: white;
    transition: none;
  }
  .Menu-Icons {
    display: block;
    cursor: pointer;
  }
  .Navbar-logo {
    font-family: "Moon Dance", cursive;
    font-size: 20px;
    color: goldenrod;
    font-weight: 600;
    cursor: pointer;
  }
}
